/*
====================================
          Base Overrides
====================================
*/

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bs-light);
}

pre {
  background: var(--bs-dark);
  color: var(--bs-light);
  padding: 1rem;
}

code, kbd, pre, samp {
  font-family: 'JetBrains Mono', var(--bs-font-monospace);
}


/*
====================================
            Main Navbar
====================================
*/

.main-navbar {
  background: linear-gradient(0deg, var(--bs-dark), var(--black));
  font-size: 14px;

  --primary: var(--bs-primary);
  --primary-dark: var(--bs-primary-text-emphasis);
  --light: var(--bs-light);
  --dark: var(--bs-dark);
  --white: var(--bs-white);
  --black: var(--bs-black);
  --shadow-base: var(--bs-box-shadow);
}

.main-navbar .navbar-responsive-header {
  display: none;
}

.main-navbar #menu-toggler {
  display: none;
}

.main-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navbar ul.menu {
  display: flex;
}

.main-navbar ul.menu li {
  position: relative;
  z-index: 1000;
}

.main-navbar ul.menu > li > a {
  color: var(--white);
  padding: 0.7rem 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.25s;
}

.main-navbar ul.menu > li > a:hover,
.main-navbar ul.menu > li > a.active {
  background-color: var(--primary);
}

.main-navbar ul.menu > li > a > svg.feather-chevron-down {
  margin-left: 4px;
  transition: 0.25s;
}

.main-navbar ul.menu > li > a.active > svg.feather-chevron-down {
  transform: rotate(180deg);
}

.main-navbar ul.sub-menu {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 200px;
  padding: 8px 0;
  box-shadow: var(--shadow-base);
}

.main-navbar ul.sub-menu::before {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--white);
  transform: rotate(45deg);
  position: absolute;
  top: -4px;
  left: 24px;
}

.main-navbar ul.sub-menu > li > a {
  display: block;
  color: var(--black);
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

.main-navbar ul.sub-menu > li > a:hover {
  color: var(--white);
  background-color: var(--primary);
}


/*  ===Mobile Screen===  */
@media screen and (max-width: 425px) {
  .main-navbar {
    padding: 12px 0;
  }

  .main-navbar .navbar-responsive-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-navbar .navbar-responsive-header span {
    color: var(--white);
    font-weight: bold;
  }

  .main-navbar #menu-toggler {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
    width: 30px;
    height: 30px;
  }

  .main-navbar #menu-toggler .feather-x {
    display: none;
  }

  .main-navbar ul.menu {
    display: none;
    margin: 16px 0;
    flex-direction: column;
  }

  .main-navbar ul.sub-menu {
    position: initial;
  }

  .main-navbar ul.sub-menu::before {
    top: 46px;
  }
}



/*
====================================
            Custom CSS
====================================
*/

/* Archive Pages - Card */
.archive-post-card .card-title a {
  font-weight: bold;
  text-decoration: none;
  color: var(--bs-dark);
  transition: 0.25s;
}

.archive-post-card .card-title a:hover,
.archive-post-card .card-title a:focus {
  color: var(--bs-primary);
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Pagination */
.archive-pagination,
.post-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.archive-pagination .page-numbers,
.post-pagination .post-page-numbers {
  color: var(--bs-dark);
  font-size: 14px;
  text-decoration: none;
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: var(--bs-border-radius);
  padding: 4px 12px;
  transition: 0.25s;
}

.archive-pagination .page-numbers:hover,
.archive-pagination .page-numbers.current,
.post-pagination .post-page-numbers:hover,
.post-pagination .post-page-numbers.current {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

/* Single Post */
.single-post-card img:not(.card-img-top) {
  max-width: 100%;
  border: 5px solid var(--bs-border-color-translucent);
}

.ads {
  width: 100%;
  height: 300px;
}



/*
====================================
          Custom Utilities
====================================
*/

.ff-heading {
  font-family: 'Oswald', sans-serif;
}