body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bs-light);
}

pre {
  background: var(--bs-dark);
  color: var(--bs-light);
  padding: 1rem;
}

code, kbd, pre, samp {
  font-family: 'JetBrains Mono', var(--bs-font-monospace);
}